#container {
    margin: 0px;
    padding: 0px;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    margin: 0px;
    padding: 0px;
    flex: 1 0 auto;
    width: 35px;
    background-color: gray;
    border: 1px solid black;
}