#container {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: gray;
    border: 1px solid green;
}